# shellcheck shell=bash
use flake ..#terraform

TF_VAR_passphrase="$(sops -d --extract '["BACKEND_PASSPHRASE"]' secrets.yaml)"
export TF_VAR_passphrase

AWS_ACCESS_KEY_ID="$(sops -d --extract '["MINIO_ACCESS_KEY"]' secrets.yaml)"
AWS_SECRET_ACCESS_KEY="$(sops -d --extract '["MINIO_SECRET_KEY"]' secrets.yaml)"
export AWS_ACCESS_KEY_ID AWS_SECRET_ACCESS_KEY
